h3 Who? Why?
p
  | My dev-internet handle is zumicts but you can call me Harry!
  | I'm an app developer that's
  | playing around with new web technolgy.
  | Like Bootstrap and AngularJS.
  | Hence why this web app exists.
p
  | Besides that, another factor that inspired me was <a href="http://scr.im">scr.im</a>.
  | Liked the idea but I wanted to expand on it and
  | having it run with modern technology. Plus the scr.im
  | website just looks crappy but is supposed to as it just a
  | small project from the dev.
h3 Behind the web app
p
  | Nobot.email has a lot of components behind it.
  | Most are open source, just like the web app it self!
  | You can go ahead and check out the git repository
  | at Github
  a(href="http://github.com/zumicts/nobot.email")  here.
p Oh and here is a list of how nobot backend is being run:
ul.list-group
  li.list-group-item
    strong Azure:
    p the website is being run on the cloud!
  li.list-group-item
    strong Cloudflare:
    p easy CDN for blazing fast loading time and protection!
  li.list-group-item
    strong Mongodb:
    p the NoSql database is being use to store all emails.
  li.list-group-item
    strong Github:
    p all the code is being deployed directly from github to Azure!
  li.list-group-item
    strong Node.js:
    p
      | behind the scenes, nobot uses this lightweight
      | platform to run the site, along with <strong>jade</strong> as a rendering engine.
