h3 Getting in touch
p
  | So you want to get in touch with me?
  | How nice of you! Seriusly, if you want to leave feedback or support
  | feel free to email me!
ul.list-group
  li.list-group-item
    strong Email:
    p
      | of course I'll be using nobot!
      a(href="/n/zumicts")  /n/zumicts
  li.list-group-item
    strong Twitter:
    p: a(href="https://twitter.com/zumicts") @zumicts
  li.list-group-item
    strong Bug tracker:
    p Report (or fix) all issues
      a(href="https://twitter.com/zumicts")  here
      |  at Github.
