h3 Your privacy is very important!
  p
    | It may or may not be for you but nobot
    | will NEVER sell or giveaway your email(s) without conscent from you.
  p
    | Your email is only display in the corresponding nobot link(s).
    | Every other user will need to pass the captcha test to see it.
    | This will ensure that 99% of the time no bot will get access to it.
  p
    | If for some reason you want to delete email, you can find
    | a 'request delete' link in your nobot email page.
    | You will then receive an email with instructions on how to continue.
